{{ define "main" }}
    <h3 style="background-color: red;">for about</h3>
    <body id="iuzs"><h1 _ngcontent-ajm-c2="">රාජ්‍ය ඉ-සේවා</h1><div id="ihj3d">Insert your text here</div><p _ngcontent-ajm-c2="">රාජ්‍ය සේවා පහසුවෙන්</p><div id="i2k8">Insert your text here</div><div id="i5lb" class="gjs-row"><div id="iz3i" class="gjs-cell">            </div><div id="ic2l" class="gjs-cell">            </div></div><section><h1>කෘෂිකර්මය, පශු සම්පත් සහ ධීවර</h1><div>මහා පරිමාණ හා කුඩා පරිමාණ කෘෂි නිෂ්පාදනයන්,පශුසම්පත් සහ ධීවර සේවා! </div></section></body>
{{end}}
